{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "ProcessMaker API",
        "description": "You can use your favorite\nHTTP/REST library for your programming language to use PMIO API, or\nyou can use one of our SDKs:\nLanguage | GitHub Link | Download Link\n--- | --- | ---\nPHP | [PHP SDK](https://github.com/ProcessMaker/pmio-sdk-php) | [Download PHP SDK](https://github.com/ProcessMaker/pmio-sdk-php/archive/master.zip)\nC# | [C#](https://github.com/ProcessMaker/pmio-sdk-csharp) | [Download C# SDK](https://github.com/ProcessMaker/pmio-sdk-csharp/archive/master.zip)\n\nYou can find out more about Swagger at\n[http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).\nFor this sample, you can use the api key `special-key` to test the authorization filters.\n# Introduction\nThis API is documented in **OpenAPI format** and is based on\n[Petstore sample](http://petstore.swagger.io/) provided by [swagger.io](http://swagger.io) team.\nIt was **extended** to illustrate features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)\ntool and [ReDoc](https://github.com/Rebilly/ReDoc) documentation. In addition to standard\nOpenAPI syntax we use a few [vendor extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).\n# OpenAPI Specification\nThis API is documented in **OpenAPI format** and is based on\n[Petstore sample](http://petstore.swagger.io/) provided by [swagger.io](http://swagger.io) team.\nIt was **extended** to illustrate features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)\ntool and [ReDoc](https://github.com/Rebilly/ReDoc) documentation. In addition to standard\nOpenAPI syntax we use a few [vendor extensions](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).\n# Cross-Origin Resource Sharing\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).\nAnd that allows cross-domain communication from the browser.\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n# Authentication\nPetstore offers two forms of authentication:\n  - API Key\n  - OAuth2\n\nOAuth2 - an open protocol to allow secure authorization in a simple\nand standard method from web, mobile and desktop applications.\n<!-- ReDoc-Inject: <security-definitions> -->\nThis ProcessMaker I/O API provides<br>\n#Test\n<br>\naccess to a BPMN 2.0 compliant workflow engine api that is designed to be used as a microservice to support enterprise cloud applications.  The current Alpha 1.0 version supports most of the descriptive class of the BPMN 2.0 specification.",
        "termsOfService": "http://processmaker.com/terms/",
        "contact": {
            "name": "ProcessMaker API Team",
            "email": "support@processmaker.io",
            "url": "https://www.processmaker.io/"
        },
        "x-logo": {
            "url": "https://www.processmaker.io/img/logo-black.svg",
            "backgroundColor": "#FFFFFF"
        }
    },
    "host": "CHANGEME.api.processmaker.io",
    "basePath": "/api/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/vnd.api+json"
    ],
    "produces": [
        "application/vnd.api+json"
    ],
    "security": [
        {
            "PasswordGrant": []
        }
    ],
    "tags": [
        {
            "name": "client",
            "description": "Everything about PM.IO"
        },
        {
            "name": "users",
            "description": "Operations about user"
        },
        {
            "name": "groups",
            "description": "Operations about user groups"
        },
        {
            "name": "Pagination",
            "description": "Pagination description (can use markdown syntax)",
            "x-traitTag": true
        }
    ],
    "x-tagGroups": [
        {
            "name": "User Management",
            "tags": [
                "users",
                "groups"
            ]
        },
        {
            "name": "Pagination",
            "tags": [
                "pagination"
            ]
        }
    ],
    "paths": {
        "/users/{user_id}/clients": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves all existing Oauth clients belonging to an user.",
                "operationId": "findOauthClients",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User ID related to the Oauth clients",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Oauth clients retrieved",
                        "schema": {
                            "title": "OauthClientCollection",
                            "description": "JSON API response with a collection of the Oauth clients in an array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/OauthClient"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method creates a new Oauth client for the user",
                "operationId": "addOauthClient",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of the user related to the Oauth client",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "OauthClientCreateItem",
                        "in": "body",
                        "description": "JSON API with the Oauth Client object to add",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/OauthClient"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The Oauth client was created",
                        "schema": {
                            "type": "object",
                            "title": "OauthClientItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/OauthClient"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/users/{user_id}/clients/{client_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method is retrieves an Oauth client based on its ID.",
                "operationId": "findOauthClientById",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of user to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "ID of Oauth client to retrieve",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Oauth Client retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/OauthClient"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method updates an existing Oauth client.",
                "operationId": "updateOauthClient",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of user to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "ID of Oauth client to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "OauthClientUpdateItem",
                        "in": "body",
                        "description": "Oauth Client object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/OauthClient"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Oauth Client updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/OauthClient"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method deletes an Oauth client using the Oauth client and user IDs.",
                "operationId": "deleteOauthClient",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "ID of Oauth client to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item was successfully deleted",
                        "schema": {
                            "$ref": "#/definitions/ResultSuccess"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Deletion error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/tasks/{task_id}/inputoutput": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves all existing Input/Output objects in the related task instance.",
                "operationId": "findInputOutputs",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "task_id",
                        "in": "path",
                        "description": "Task instance ID related to Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Input/Outputs retrieved",
                        "schema": {
                            "title": "InputOutputCollection",
                            "description": "JSON API response with a collection of the input/outputs in the array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/InputOutput"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method creates a new Input/Output object",
                "operationId": "addInputOutput",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "task_id",
                        "in": "path",
                        "description": "Task instance ID related to Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "InputOutputCreateItem",
                        "in": "body",
                        "description": "Create and add a new Input/Output object with JSON API",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/InputOutput"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The InputOutput object was created",
                        "schema": {
                            "type": "object",
                            "title": "InputOutputItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/InputOutput"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/tasks/{task_id}/inputoutput/{inputoutput_uid}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves an Input/Output object using its ID.",
                "operationId": "findInputOutputById",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to the Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "task_id",
                        "in": "path",
                        "description": "Task instance ID related to the Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "inputoutput_uid",
                        "in": "path",
                        "description": "ID of Input/Output to return",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Input/Output object retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/InputOutput"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method updates an existing Input/Output object.",
                "operationId": "updateInputOutput",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to the Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "task_id",
                        "in": "path",
                        "description": "Task instance ID related to the Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "inputoutput_uid",
                        "in": "path",
                        "description": "ID of Input/Output to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "InputOutputUpdateItem",
                        "in": "body",
                        "description": "Input/Output object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/InputOutput"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Input/Output object updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/InputOutput"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method deletes the Input/Output based on the Input/Output ID, process ID and task ID.",
                "operationId": "deleteInputOutput",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to the Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "task_id",
                        "in": "path",
                        "description": "Task instance ID related to Input/Output object",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "inputoutput_uid",
                        "in": "path",
                        "description": "Input/Output ID to fetch",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item successfully deleted",
                        "schema": {
                            "$ref": "#/definitions/ResultSuccess"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Deletion error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/import": {
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method imports BPMN files. A new process is created when import is successful.",
                "operationId": "importBpmnFile",
                "parameters": [
                    {
                        "name": "bpmnImportItem",
                        "in": "body",
                        "description": "JSON API with the BPMN file to import",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/BpmnFile"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "File imported and process instance created successfully",
                        "schema": {
                            "type": "object",
                            "title": "ProcessCollection",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Process"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/MetaLog"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Access forbidden",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/instances/{instance_id}/datamodel": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method returns the instance DataModel and lets the user work with it directly",
                "operationId": "findDataModel",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "instance_id",
                        "in": "path",
                        "description": "ID of instance to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "DataModel retrived",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/DataModelItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/task_instances/{task_instance_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves a task instance based on its ID.",
                "operationId": "findTaskInstanceById",
                "parameters": [
                    {
                        "name": "task_instance_id",
                        "in": "path",
                        "description": "ID of task instance to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task Instance retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/TaskInstance"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "client"
                ],
                "description": "This method updates an existing task instance.",
                "operationId": "updateTaskInstance",
                "parameters": [
                    {
                        "name": "task_instance_id",
                        "in": "path",
                        "description": "ID of task instance to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "TaskInstanceUpdateItem",
                        "in": "body",
                        "description": "Task Instance object to update",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/TaskInstance"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task instance updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/TaskInstance"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/task_instances": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves all existing task instances",
                "operationId": "findTaskInstances",
                "parameters": [
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of task instances retrieved",
                        "schema": {
                            "title": "TaskInstanceCollection",
                            "description": "JSON API response with the collection of task instances in an  array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/TaskInstance"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/instances": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves related to the process using  the Process ID",
                "operationId": "findInstances",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to the instances",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of instances retrieved",
                        "schema": {
                            "title": "InstanceCollection",
                            "description": "JSON API response with a collection of the instances in an array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Instance"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method creates a new instance.",
                "operationId": "addInstance",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to the nstance",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "InstanceCreateItem",
                        "in": "body",
                        "description": "JSON API response with the Instance object to add",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Instance"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Instance created",
                        "schema": {
                            "type": "object",
                            "title": "InstanceItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Instance"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/instances/{instance_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves an instance using its ID.",
                "operationId": "findInstanceById",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "instance_id",
                        "in": "path",
                        "description": "ID of instance to return",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instance retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Instance"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method updates  an existing instance.",
                "operationId": "updateInstance",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of Process to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "instance_id",
                        "in": "path",
                        "description": "ID of Instance to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "InstanceUpdateItem",
                        "in": "body",
                        "description": "Instance object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Instance"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instance updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Instance"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method deletes an instance using the instance ID and process ID.",
                "operationId": "deleteInstance",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "instance_id",
                        "in": "path",
                        "description": "ID of instance to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instance successfully deleted",
                        "schema": {
                            "$ref": "#/definitions/ResultSuccess"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Deletion error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/flows": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves all existing flows.",
                "operationId": "findFlows",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process related to the flow",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of flows retrieved",
                        "schema": {
                            "title": "FlowCollection",
                            "description": "JSON API response with a collection of the flow in an array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Flow"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method creates a new Sequence flow",
                "operationId": "addFlow",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of the process related to the flow",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "FlowCreateItem",
                        "in": "body",
                        "description": "JSON API response with the Flow object to add",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Flow"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The Sequence Flow was created",
                        "schema": {
                            "type": "object",
                            "title": "FlowItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Flow"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/flows/{flow_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves a flow based on its ID.",
                "operationId": "findFlowById",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "flow_id",
                        "in": "path",
                        "description": "ID of flow to return",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Flow retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Flow"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method updates an existing flow.",
                "operationId": "updateFlow",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "flow_id",
                        "in": "path",
                        "description": "ID of flow to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "FlowUpdateItem",
                        "in": "body",
                        "description": "Flow object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Flow"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Flow updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Flow"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method deletes a sequence flow using the flow ID and process ID.",
                "operationId": "deleteFlow",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "flow_id",
                        "in": "path",
                        "description": "ID of flow to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item successfully deleted",
                        "schema": {
                            "$ref": "#/definitions/ResultSuccess"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Deletion error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/gateways": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves all existing gateways.",
                "operationId": "findGateways",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process related to the gateway",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gateways list",
                        "schema": {
                            "title": "GatewayCollection",
                            "description": "JSON API Response with collection of Items in array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Gateway"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method creates a new gateway.",
                "operationId": "addGateway",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of the process related to the gateway",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "GatewayCreateItem",
                        "in": "body",
                        "description": "JSON API response with the gateway object to add",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Gateway"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Gateway created",
                        "schema": {
                            "type": "object",
                            "title": "GatewayItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Gateway"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/gateways/{gateway_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves a gateway based on its ID.",
                "operationId": "findGatewayById",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gateway_id",
                        "in": "path",
                        "description": "ID of gateway to return",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gateway retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Gateway"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method updates an existing gateway.",
                "operationId": "updateGateway",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gateway_id",
                        "in": "path",
                        "description": "ID of gateway to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "GatewayUpdateItem",
                        "in": "body",
                        "description": "Gateway object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Gateway"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gateway updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Gateway"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method is deletes a single item using the gateway ID and process ID.",
                "operationId": "deleteGateway",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gateway_id",
                        "in": "path",
                        "description": "ID of Process to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item successfully deleted",
                        "schema": {
                            "$ref": "#/definitions/ResultSuccess"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Deletion error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/events": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method returns all events related to the runned process",
                "operationId": "findEvents",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process related to the event",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of events retrieved",
                        "schema": {
                            "title": "EventCollection",
                            "description": "JSON API response with a collection of the events in an array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Event"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method creates the new event.",
                "operationId": "addEvent",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of the process related to the event",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "EventCreateItem",
                        "in": "body",
                        "description": "JSON API response with the Event object to add",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Event"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Event response",
                        "schema": {
                            "type": "object",
                            "title": "EventItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Event"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/events/{event_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method retrieves an event using its ID.",
                "operationId": "findEventById",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to return",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of event to return",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event retrieved",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Event"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method updates an existing event",
                "operationId": "updateEvent",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of process to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of event to retrieve",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "EventUpdateItem",
                        "in": "body",
                        "description": "Event object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Event"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event updated",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/Event"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method deletes an event using the event ID and process ID",
                "operationId": "deleteEvent",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of event to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item successfully deleted",
                        "schema": {
                            "$ref": "#/definitions/ResultSuccess"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Deletion error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/events/{event_id}/trigger": {
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method starts/triggers an event.",
                "operationId": "EventTrigger",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "Process ID related to the event",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of event to trigger",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "TriggerEventCreateItem",
                        "in": "body",
                        "description": "Json with some parameters",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/DataModel"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Event started",
                        "schema": {
                            "type": "object",
                            "title": "DataModelItem",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/DataModelItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/events/{event_id}/connectors": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method returns all Event connectors related to the run Process and Event.",
                "operationId": "findEventConnectors",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of Process to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of Task to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event connectors list",
                        "schema": {
                            "title": "EventConnectorsCollection",
                            "description": "JSON API Response with collection of Items in array",
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/EventConnector"
                                    }
                                },
                                "meta": {
                                    "$ref": "#/definitions/Meta"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "description": "This method is intended for creating a new Event connector.",
                "operationId": "addEventConnector",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of Process to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of Event to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "EventConnectorCreateItem",
                        "in": "body",
                        "description": "JSON API with the EventConnector object to add",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/EventConnector"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created Event connector response",
                        "schema": {
                            "type": "object",
                            "title": "EventConnector",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/EventConnector"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            }
        },
        "/processes/{process_id}/events/{event_id}/connectors/{connector_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "description": "This method returns all Event connectors related to the run Process and Event.",
                "operationId": "findEventConnectorById",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of Process to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of Event to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connector_id",
                        "in": "path",
                        "description": "ID of EventConnector to fetch",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event Connector Item response",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/EventConnector"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "description": "This method lets update the existing Event connector with new parameters values",
                "operationId": "updateEventConnector",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of Process to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of Event to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connector_id",
                        "in": "path",
                        "description": "ID of Event Connector to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "EventConnectorUpdateItem",
                        "in": "body",
                        "description": "EventConnector object to edit",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/EventConnector"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "JSON API response with updated EventConnector object",
                        "schema": {
                            "type": "object",
                            "required": [
                                "data"
                            ],
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/EventConnector"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid parameters",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorArray"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "description": "This method is intended for deleting a single Event connector based on Event ID, Process ID and Connector ID.",
                "operationId": "deleteEventConnector",
                "parameters": [
                    {
                        "name": "process_id",
                        "in": "path",
                        "description": "ID of of Process item",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of item to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "connector_id",
                        "in": "path",
                        "description": "ID of EventConnector to fetch",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item successfully deleted",
[...]
